name: linting

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  linting:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Docker
        run: |
          sudo systemctl start docker
          docker --version

      - name: Create .env file
        run: |
          echo "POSTGRES_HOST=db" >> .env
          echo "POSTGRES_USER=username" >> .env
          echo "POSTGRES_PASSWORD=password" >> .env
           
      - name: Build and Start Containers
        run: |
          docker compose up -d --build
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.3"   

      - name: Install Ruff 
        run: docker compose exec web pip install --no-cache-dir ruff
          
      - name: Run Ruff (linting)
        run:  
         docker compose exec web ruff check
      

